@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

// Tema oscuro
$my-dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

// Tema claro

$my-light-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@mixin theme($theme) {
  @include mat.all-component-themes($theme);
}

// Exportar los temas
.dark-theme {
  @include theme($my-dark-theme);
}

.light-theme {
  @include theme($my-light-theme);
}

// Tema por defecto
@include theme($my-light-theme);