<!-- Se incluye el componente de cabecera al que se le pasa el título definido en create-restaurant.component.ts -->
<app-header [title]="title"></app-header>

<!-- Formulario reactivo para crear o editar un restaurante. Usa createRestaurantForm para mostrar, guardar y validar los datos. -->
<form [formGroup]="createRestaurantForm">
  <div fxLayoutGap="5px">
    <!-- Campo "Name" del formulario con Angular Material -->
    <mat-form-field appearance="fill">
      <!-- Etiqueta e input del campo -->
      <mat-label>Name</mat-label> <input formControlName="name" matInput />
      <!-- Validaciones -->
      <div
        *ngIf="
          createRestaurantForm.get('name')?.invalid &&
          createRestaurantForm.get('name')?.dirty &&
          createRestaurantForm.get('name')?.touched
        "
      >
        <!-- Mensajes de error   -->
        <mat-error
          *ngIf="createRestaurantForm.get('name')?.hasError('required')"
        >
          Name is required
        </mat-error>
        <mat-error
          *ngIf="createRestaurantForm.get('name')?.hasError('minlength')"
        >
          Name must be at least 5 characters
        </mat-error>
      </div>
    </mat-form-field>

    <!-- Campo "Address" del formulario con Angular Material -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Enter address" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Neighborhood</mat-label>
      <input
        formControlName="neighborhood"
        matInput
        placeholder="Enter Neighborhood"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Photograph</mat-label>
      <input
        formControlName="photograph"
        matInput
        placeholder="Enter photograph"
      />
    </mat-form-field>
    <!-- Campo "Cuisine type" del formulario con Angular Material -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cuisine type</mat-label>
      <input
        formControlName="cuisine_type"
        matInput
        placeholder="Enter cuisine type"
      />
    </mat-form-field>
    <!-- LATITUD Y LONGITUD -->
    <div
      formGroupName="latlng"
      fxLayout.xs="column"
      fxLayoutGap="5px"
      fxLayout="row wrap"
      fxLayoutAlign="space-between"
    >
      <!-- Campos "Latitud" y "Longitud" del formulario con Angular Material -->
      <mat-form-field fxFlex="auto" appearance="fill">
        <mat-label>Latitude</mat-label>
        <input
          formControlName="lat"
          type="number"
          matInput
          placeholder="Enter latitude"
        />
      </mat-form-field>
      <mat-form-field fxFlex="auto" appearance="fill">
        <mat-label>Longitude</mat-label>
        <input
          formControlName="lng"
          type="number"
          matInput
          placeholder="Enter longitude"
        />
      </mat-form-field>
    </div>
    <!-- HORAS DE APERTURA -->
    <h3>Operating hours</h3>
    <div
      formGroupName="operating_hours"
      fxLayout.xs="column"
      fxLayout="row wrap"
      fxLayoutGap="5px"
      fxLayoutAlign="space-between"
    >
      <!-- Campo "Monday" del formulario con Angular Material -->
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Monday</mat-label>
        <input
          formControlName="Monday"
          matInput
          placeholder="Enter operating hours"
        />
        <!-- Validaciones -->
        <mat-error
          *ngIf="
            createRestaurantForm
              .get('operating_hours')
              ?.get('Monday')
              ?.hasError('wrong_operating_hours')
          "
        >
          {{
            createRestaurantForm
              .get("operating_hours")
              ?.get("Monday")
              ?.getError("wrong_operating_hours")
          }}
          Monday is required
        </mat-error>
        <!-- Campo "Tuesday" del formulario con Angular Material -->
      </mat-form-field>
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Tuesday</mat-label>
        <input
          formControlName="Tuesday"
          matInput
          placeholder="Enter operating hours"
        />
        <!-- Campo "Wednesday" del formulario con Angular Material -->
      </mat-form-field>
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Wednesday</mat-label>
        <input
          formControlName="Wednesday"
          matInput
          placeholder="Enter operating hours"
        />
      </mat-form-field>
      <!-- Campo "Thursday" del formulario con Angular Material -->
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Thursday</mat-label>
        <input
          formControlName="Thursday"
          matInput
          placeholder="Enter operating hours"
        />
      </mat-form-field>
      <!-- Campo "Friday" del formulario con Angular Material -->
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Friday</mat-label>
        <input
          formControlName="Friday"
          matInput
          placeholder="Enter operating hours"
        />
      </mat-form-field>
      <!-- Campo "Saturday" del formulario con Angular Material -->
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Saturday</mat-label>
        <input
          formControlName="Saturday"
          matInput
          placeholder="Enter operating hours"
        />
      </mat-form-field>
      <!-- Campo "Sunday" del formulario con Angular Material -->
      <mat-form-field fxFlex.sm="48" fxFlex="auto" appearance="fill">
        <mat-label>Sunday</mat-label>
        <input
          formControlName="Sunday"
          matInput
          placeholder="Enter operating hours"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Botón para enviar los datos -->
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="send()"
    [disabled]="createRestaurantForm.invalid"
  >
    {{ isEdit ? "Guardar" : "Crear" }}
  </button>
</form>
